---
git_server: staging-test-tin.staging.eqiad.wmflabs
git_repo: restbase/deploy
git_deploy_dir: /srv/deployment
git_rev: origin/master
dsh_targets: restbase-installation
git_submodules: true
service_name: restbase
service_port: 7231
serial: 1
sudo: true
